/* WorkSpaceLayout */
.workspace-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 100px 250px 1fr;
  grid-template-rows: auto 1fr auto;

  /* Header Component */

  .header-wrapper {
    /* autoprefixer: off */
    font-size: 1.4rem;
    font-weight: 900;
    grid-column: 3;
    color: red;
    grid-row: 1;
    text-align: center;
    padding: $padding;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  }

  /* Messages Component */
  .message-wrapper {
    /* autoprefixer: off */
    grid-column: 3;
    grid-row: 2;
    .messages-container {
      padding-left: $paddingLeft;
      padding-top: $paddingLeft;
    }
  }

  /* SendMessages Component */
  .send-messages-wrapper {
    /* autoprefixer: off */
    grid-column: 3;
    grid-row: 3;
    margin: 15px;
  }

  /* Sidebar Component */
  .communication-bar-wrapper {
    /* autoprefixer: off */
    grid-column: 2;
    grid-row: 1/4;
    background-color: #4e3a4c;
    color: rgba($white, 0.6);
    ul {
      width: 100%;
      list-style: none;
      padding-left: $paddingLeft;
      li {
        padding: 3px;
        font-size: 15px;
        padding-left: 5px;
        &:hover {
          background: #3e313c;
        }
      }
      .channel_name {
        color: rgba($white, 0.6);
      }
    }
    .push-left-div {
      padding-left: $paddingLeft;
    }
    .green-span {
      color: #38978d;
      padding-right: 3px;
    }
    .section-header {
      font-size: 14px;
      padding: 5px 0px;
    }
    .communication-bar-teamname {
      font-size: 20px;
      padding: 0px;
      margin: 0px;
      color: $white;
    }
    .communication-bar-username {
      font-size: 13px;
      padding: 0px;
      margin: 0px;
    }
    .add-channel-button {
      padding-left: 120px;
      &:hover {
        cursor: pointer;
      }
    }
    .add-direct-message-button {
      padding-left: 67px;
      &:hover {
        cursor: pointer;
      }
    }
    .communication-bar-header {
      padding: 15px 0px 10px $paddingLeft;
      &:hover {
        background: #3e313c;
        cursor: pointer;
      }
    }
    .invite-button-section {
      padding: 15px 0px 10px $paddingLeft;
      &:hover {
        background: #3e313c;
        cursor: pointer;
      }
    }
  }

  /* Teambar Component */
  .team-bar-wrapper {
    /* autoprefixer: off */
    grid-column: 1;
    grid-row: 1/4;
    background-color: #362234;
    color: #958993;
    padding-top: 15px;
    ul {
      width: 100%;
      padding-left: 0px;
      list-style: none;
      li {
        height: 50px;
        width: 50px;
        background-color: #676066;
        color: #fff;
        margin: auto;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        border-radius: 11px;
        &:hover {
          cursor: pointer;
          border-style: solid;
          border-width: thick;
          border-color: #857f87;
        }
      }
    }
  }
}
